doctype html
html(data-l10n-id="html", lang="ru", dir="ltr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    title Curriculum Vitae
    link(rel="stylesheet", href="css/styles.css")
    link(rel="localization", href="js/browser.json")
    script(data-main="js/cv", src="js/require.js")
  body
    .loading

    header
      h1 Curriculum Vitae
      nav.pdf
        a(href="pdf/AntonNemtsevCV-ru.pdf", lang="ru") Скачать PDF
        a(href="pdf/AntonNemtsevCV-en.pdf", lang="en") Download PDF
      nav.language
        a(href="#ru", lang="ru") По русски
        a(href="#en", lang="en") In english

    section.person
      header
        h1(data-l10n-id="summary") Резюме
      table
        tbody
          tr
            td(data-l10n-id="name_title") Имя:
            td(data-l10n-id="name_value") Немцев Антон
          tr
            td(data-l10n-id="bdate_title") Дата рождения:
            td(data-l10n-id="bdate_value") 21 мая 1983 года
          tr
            td(data-l10n-id="citizenship_title") Гражданство:
            td(data-l10n-id="citizenship_value") Украина
          tr
            td(data-l10n-id="lang_title") Языки:
            td(data-l10n-id="lang_value") Русский, Украинский, Английский
          tr
            td(data-l10n-id="status_title") Статус:
            td(data-l10n-id="status_value") Доступен для найма
      ul
        li(data-l10n-id="fact_1") С 2000 года являюсь независимым разработчиком.
        li(data-l10n-id="fact_2") Владею полным стеком технологий, необходимых для разработки веб-проектов.
        li(data-l10n-id="fact_3") Представитель организации 
          a(href="http://web-standards.ru/editors/") Web Standards
          |  в Украине
        li(data-l10n-id="fact_4") Основатель и редактор электронного журнала 
          a(href="http://frontender.info/") Frontender Magazine
        li(data-l10n-id="fact_5") Докладчик на международных и локальных конференциях веб-разработчиков
        li(data-l10n-id="fact_6") Эксперт на чемпионате  
          a(href="http://uawebchallenge.com/front-end")  UA Web Challenge


    section.contacts
      header
        h1(data-l10n-id="contacts") Контакты
      table
        tbody
          tr
            td EMail:
            td 
              a.link-inside(href="mailto:thesilentimp@gmail.com") thesilentimp@gmail.com
          tr
            td Skype:
            td 
              a.link-inside(href="skype:ravencry?call") ravencry
          tr
            td GitHub:
            td 
              a.link-inside(href="http://github.com/SilentImp") http://github.com/SilentImp
          tr
            td LinkedIn:
            td 
              a(href="http://ua.linkedin.com/pub/anton-nemtsev/3/b1/592/") Anton Nemtsev
          tr
            td Twitter:
            td 
              a.link-inside(href="http://twitter.com/silentimp") @silentimp
          tr
            td(data-l10n-id="web") Сайт:
            td 
              a.link-inside(href="http://frontender.info/") http://frontender.info/

    section.skills
      header
        h1(data-l10n-id="skills") Навыки
      table
        thead
          tr
            th(data-l10n-id="markup") Разметка
            th(data-l10n-id="scripts") Скрипты
            th(data-l10n-id="styles") Стили
            th(data-l10n-id="serverside") Cерверсайд
        tbody
          tr
            td HTML
            td JavaScript
            td CSS
            td PHP
          tr
            td HAML
            td Coffee
            td SASS
            td Node.js
          tr
            td Slim
            td JQuery
            td Compass
            td
          tr
            td Jade
            td AngularJS
            td Less
            td
          tr
            td Markdown
            td
            td Stylus
            td
        thead
          tr
            th VCS
            th(data-l10n-id="automatization") Автоматизация
            th(data-l10n-id="bd") Базы данных
            th(data-l10n-id="additional") Дополнительно
        tbody
          tr
            td Git
            td Grunt
            td MySQL
            td Photoshop
          tr
            td Mercurial
            td Gulp
            td MongoDB
            td Flash
          tr
            td
            td 
            td
            td ActionScript



    section.expirience
      header
        h1(data-l10n-id="expirience") Опыт
      table
        tbody 
          tr
            td 2014-2015:
            td(data-l10n-id="expirience_7") Работа в качестве фронтенд-разработчика в проектах таких студий, как <a href="http://www.alignedcode.com/">Aligned Code</a>, Binary Garage, Yoke Labs, <a href="https://territory.com.ua/">CB Territory</a>.

          tr
            td 2012-2013:
            td(data-l10n-id="expirience_6") Разработка фронтенда Focal Point для компании Parallels  Software

          tr
            td 2012:
            td(data-l10n-id="expirience_5") Работа над фронтендом проекта Giftofoni 

          tr
            td 2011-2012:
            td(data-l10n-id="expirience_4") Работа над проектами 
              a.link-inside(href="http://zn.ua/") http://zn.ua/
              |  и http://znaki.fm/ 

          tr
            td 2011:
            td(data-l10n-id="expirience_3") Работа со студией 
              a(href="http://evilmartians.com/") Evil Martians 
              |  в качестве фронтенд-разработчика и участие в разработке таких проектов, как 
              a.link-inside(href="http://groupon.ru/") http://groupon.ru/
              |  и 
              a.link-inside(href="http://i-lift.tv/ ") http://i-lift.tv/

          tr
            td 2010-2011:
            td(data-l10n-id="expirience_2") Разработка фронтенда сайта 
              a.link-inside(href="http://www.pokeroff.ru/") http://www.pokeroff.ru/

          tr
            td 2005-2010:
            td(data-l10n-id="expirience_1") 
              p Разработка проектов для рекламных агентств R.A.M. и 
                a.link-inside(href="http://www.paradigm.com.ua/") Paradigm Consulting Group 
              p Работа с брендами Pall Mall, Kent, Camel, Lays, Kinder, Nestle, DreamWorks, MTv, Indesit, Samsung и многими другими.
              p В проектах исполняю роль фронтенд-разработчика и flash-разработчика, включая дизайн, анимацию и  программирование на action script.

    section.education
      header
        h1(data-l10n-id="education") Образование
      table
        tbody 
          tr
            td 2000-2007
            td 
              p(data-l10n-id="place_2") Национальный Технический Университет Украины «Киевский Политехнический Институт»
              ul
                li(data-l10n-id="grade_1") Степень специалиста в области разработки электронных устройств
                li(data-l10n-id="grade_2") Степень магистра информационных технологий

          tr
            td 1990-2000
            td(data-l10n-id="place_1") Физико-математический лицей

    section.talks
      header
        h1(data-l10n-id="talks") Доклады
      table
        tbody

          tr
            td
              h2 ІТ ФОРУМ
              time(data-l10n-id="time_24") Киев, 24 мая 2015 года
            td 
              h2(data-l10n-id="talk_title_22") Offline first
              p(data-l10n-id="talk_abstract_22") Этот доклад расскажет что представляет собой подход к разработке «offline first» и какую выгоду он может принести
              ul
                li 
                  a(href="http://silentimp.github.io/offline-first/", data-l10n-id="repo") Репозиторий

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_22") Рига, 24 мая 2014 года
            td 
              h2(data-l10n-id="talk_title_20") Локализация и интернационализация
              p(data-l10n-id="talk_abstract_20") Этот доклад проводит поверхностный обзор стандартов, касающихся интернационализации програмных продуктов и затрагивает практический процесс локализации. Локализация проводится с помощью библиотек i18next и l20n.
              ul
                li 
                  a(href="http://vimeo.com/90835630", data-l10n-id="video") Видео (40:00)

          tr
            td
              h2 Frontend Dev Conf 2014
              time(data-l10n-id="time_23") Минск, 24 августа 2014 года
            td 
              h2(data-l10n-id="talk_title_21") WebGL и быстрый геймдев
              p(data-l10n-id="talk_abstract_21") Доклад рассказывает о быстром создании игр с использованием WebGl и Three.js
              ul
                li 
                  a(href="https://www.youtube.com/watch?v=ROiVmJ1DPL4", data-l10n-id="video") Видео
                li
                  a(href="https://github.com/SilentImp/threejs-gaming/tree/master/production", data-l10n-id="repo") Репозиторий

          tr
            td
              h2 РИТ++ 2014
              time(data-l10n-id="time_21") Москва, 14 апреля 2014 года
            td 
              h2(data-l10n-id="talk_title_20") Локализация и интернационализация
              p(data-l10n-id="talk_abstract_20") Этот доклад проводит поверхностный обзор стандартов, касающихся интернационализации програмных продуктов и затрагивает практический процесс локализации. Локализация проводится с помощью библиотек i18next и l20n.
              ul
                li 
                  a(href="http://vimeo.com/90835630", data-l10n-id="video") Видео (40:00)
          tr
            td
              h2 DUMP 2014
              time(data-l10n-id="time_20") Екатеринбург, 14 марта 2014 года
            td 
              h2(data-l10n-id="talk_title_20") Локализация и интернационализация
              p(data-l10n-id="talk_abstract_20") Этот доклад проводит поверхностный обзор стандартов, касающихся интернационализации програмных продуктов и затрагивает практический процесс локализации. Локализация проводится с помощью библиотек i18next и l20n.
              ul
                li 
                  a(href="http://vimeo.com/90835630", data-l10n-id="video") Видео (00:00 - 40:00)
                li
                  a(href="https://github.com/SilentImp/localizaion", data-l10n-id="repo") Репозиторий
                li
                  a(href="http://silentimp.github.io/localizaion", data-l10n-id="slides_online") Слайды online

          tr
            td
              h2 DUMP 2014
              time(data-l10n-id="time_19") Екатеринбург, 14 марта 2014 года
            td 
              h2(data-l10n-id="talk_title_19") Один год с Frontender Magazine
              p(data-l10n-id="talk_abstract_19") Цели, планы на будущее, история и отчет о том, чего удалось добится за год
              ul
                li
                  a(href="https://github.com/SilentImp/FrontenderMagazinePresentation", data-l10n-id="repo") Репозиторий
                li
                  a(href="http://silentimp.github.io/FrontenderMagazinePresentation", data-l10n-id="slides_online") Слайды online

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_18") Киев, 26 октября 2013 года
            td 
              h2(data-l10n-id="talk_title_18") Потерянные спецификации
              p(data-l10n-id="talk_abstract_18") Вебом правят спецификации. Многие из них нам хорошо знакомы. О некоторых успели позабыть. А о каких-то — вовсе никогда не слышали. Мы отправимся на поиски потерянных JavaScript API, чтобы использовать сокрытые в них возможности в угоду себе и во имя удовлетворения самых страстных своих желаний, которые так долго не решались озвучить.
              ul
                li
                  a(href="https://github.com/SilentImp/lost-specs", data-l10n-id="repo") Репозиторий
                li 
                  a(href="http://webstandardsdays.ru/2013/10/26/lost-specs.zip", data-l10n-id="slides") Слайды
                li
                  a(href="http://silentimp.github.io/lost-specs/", data-l10n-id="slides_online") Слайды online

          tr
            td
              h2 Web Not Bombs
              time(data-l10n-id="time_17") Минск, 19 сентября 2013 года
            td 
              h2 Lazy Game Dev
              p(data-l10n-id="talk_abstract_12") Доклад про ленивую разработку казуальных игр с использованием JavaScript и DOM

          tr
            td
              h2 Web Not Bombs
              time(data-l10n-id="time_16") Минск, 19 сентября 2013 года
            td 
              h2(data-l10n-id="talk_title_16") Журнал Frontender Magazine
              p(data-l10n-id="talk_abstract_16") О том, зачем он был создан и откуда берутся фронтенд-разработчики
              ul
                li
                  a(href="https://github.com/SilentImp/aboutFrontenderMagazine", data-l10n-id="repo") Репозиторий
                li
                  a(href="http://silentimp.github.io/aboutFrontenderMagazine/", data-l10n-id="slides_online") Слайды online

          tr
            td
              h2 ITSea
              time(data-l10n-id="time_15") Казантип, 22 августа 2013
            td 
              h2 Lazy Game Dev
              p(data-l10n-id="talk_abstract_12") Доклад про ленивую разработку казуальных игр с использованием JavaScript и DOM

          tr
            td
              h2 KharkivJS
              time(data-l10n-id="time_14") Харьков, 22 июня 2013
            td 
              h2 Lazy Game Dev
              p(data-l10n-id="talk_abstract_12") Доклад про ленивую разработку казуальных игр с использованием JavaScript и DOM
              ul
                li 
                  a(href="http://www.youtube.com/watch?v=G3J2-BFdUt8", data-l10n-id="video") Видео

          tr
            td
              h2 DUMP 2013
              time(data-l10n-id="time_13") Екатеринбург, 24 мая 2013 года
            td 
              h2 Lazy Game Dev
              p(data-l10n-id="talk_abstract_12") Доклад про ленивую разработку казуальных игр с использованием JavaScript и DOM
              ul
                li 
                  a(href="https://www.youtube.com/watch?v=6K5UPlY0fy8&index=5&list=PLRdS-n5seLRpVRDblg0KDFr5V4RlvaDiR", data-l10n-id="video") Видео

          tr
            td
              h2 РИТ++ 2013
              time(data-l10n-id="time_12") Москва, 23 апреля 2013 года
            td 
              h2 Lazy Game Dev
              p(data-l10n-id="talk_abstract_12") Доклад про ленивую разработку казуальных игр с использованием JavaScript и DOM
              ul
                li 
                  a(href="https://vimeo.com/74731054", data-l10n-id="video") Видео
                li
                  a(href="https://github.com/SilentImp/LazyGameDev", data-l10n-id="repo") Репозиторий
                li
                  a(href="http://silentimp.github.io/LazyGameDev/", data-l10n-id="slides_online") Слайды online

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_11") Москва, 24 ноября 2012 года
            td 
              h2(data-l10n-id="talk_title_11") Паттерны JavaScript
              p(data-l10n-id="talk_abstract_11") Что это такое, почему это стоит использовать, основные паттерны и примеры их использования с обоснованием актуальности
              ul
                li 
                  a(href="http://tech.yandex.ru/events/yagosti/wsd-msk-nov-2012/talks/455/", data-l10n-id="video") Видео
                li 
                  a(href="http://webstandardsdays.ru/2012/11/24/patterns.zip", data-l10n-id="slides") Слайды

          tr
            td
              h2 KharkivJS
              time(data-l10n-id="time_10") Харьков, 15 декабря 2012
            td 
              h2(data-l10n-id="talk_title_8") Несколько забавных трюков, которые можно использовать в ленивой разработке игр

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_9") Киев, 13 октября 2012 года
            td 
              h2(data-l10n-id="talk_title_6") На грани возможного
              p(data-l10n-id="talk_abstract_6") 3D и 2D-анимация и эмоции в веб c помощью CSS

          tr
            td
              h2 Fronteers Jam Session
              time(data-l10n-id="time_8") Амстердам, 3 октября 2012 года
            td 
              h2(data-l10n-id="talk_title_8") Несколько забавных трюков, которые можно использовать в ленивой разработке игр
              ul
                li 
                  a(href="http://fronteers.nl/congres/2012/jam-session/some-funy-css-tricks-you-may-use-in-lazy-game-dev-anton-nemtsev", data-l10n-id="video") Видео

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_7") Санкт-Петербург, 23 июня 2012 года
            td 
              h2(data-l10n-id="talk_title_6") На грани возможного
              p(data-l10n-id="talk_abstract_6") 3D и 2D-анимация и эмоции в веб c помощью CSS

          tr
            td
              h2 РИТ++ 2012
              time(data-l10n-id="time_6") Москва, 2 апреля 2012 года
            td 
              h2(data-l10n-id="talk_title_6") На грани возможного
              p(data-l10n-id="talk_abstract_6") 3D и 2D-анимация и эмоции в веб c помощью CSS
              ul
                li 
                  a(href="https://vimeo.com/channels/wstdays/47083690", data-l10n-id="video") Видео
                li 
                  a(href="http://webstandardsdays.ru/2012/04/02/pres/3d-emotional.zip", data-l10n-id="slides") Слайды

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_5") Москва, 13 декабря 2011 года
            td 
              h2(data-l10n-id="talk_title_5") Редактирование HTML в браузере
              p(data-l10n-id="talk_abstract_5") Как должно быть, как есть, и зачем это вообще нужно
          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_4") Минск, 29 октября 2011 года
            td 
              h2(data-l10n-id="talk_title_5") Редактирование HTML в браузере
              p(data-l10n-id="talk_abstract_5") Как должно быть, как есть, и зачем это вообще нужно
              ul
                li 
                  a(href="https://vimeo.com/channels/wstdays/33214437", data-l10n-id="video") Видео
                li 
                  a(href=" http://webstandardsdays.ru/2011/10/29/editable.zip", data-l10n-id="slides") Слайды

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_3") Киев, 22 октября 2011 года
            td 
              h2(data-l10n-id="talk_title_5") Редактирование HTML в браузере
              p(data-l10n-id="talk_abstract_5") Как должно быть, как есть, и зачем это вообще нужно

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_2") Киев, 18 сентября 2010 года
            td 
              h2(data-l10n-id="talk_title_2") Обзор новых API JavaScript
              p(data-l10n-id="talk_abstract_2") HTML5 и самостоятельные черновики W3C
              ul
                li 
                  a(href="https://vimeo.com/channels/wstdays/17246164", data-l10n-id="video") Видео
                li 
                  a(href="http://webstandardsdays.ru/2010/09/18/javascript-api.zip", data-l10n-id="slides") Слайды

          tr
            td
              h2 Web Standards Days
              time(data-l10n-id="time_1") Рига, 22 мая 2010 года
            td 
              h2(data-l10n-id="talk_title_1") HTML5 и CSS3
              p(data-l10n-id="talk_abstract_1") Эволюция веб-стандартов
              ul
                li 
                  a(href="http://webstandardsdays.ru/2010/05/22/pres/html5.zip", data-l10n-id="slides") Слайды
