html, body
  font-size 14px
  line-height 1.618rem
  text-rendering optimizeLegibility 
  font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
  color #333
  
body
  line-height 1.618rem
  
img
  max-width 100%
  
a
  color #333
  &:hover
    text-decoration none

p
  font-size 1rem
  font-size 1.055rem
  line-height 1.618rem
  margin 1.47rem 0
  
p:last-child
  margin-bottom 0
  
b, strong
  font-weight bold
i, em
  font-style italic


h1,h2,h3,h4,h5
  // font-family Georgia, Palatino, Times, 'Times New Roman', serif
  font-weight normal
  margin 0 0 1.618rem

h1
  font-size 2rem
  line-height 1.1
  text-transform uppercase
  color #666

h2
  font-size 2.5rem
  line-height 1.2

h3
  font-size 1.5rem 
  line-height 1.4
  
h4
  font-size 1.3125rem

h5
  font-size 1.1rem
  
ul
  list-style disc outside
  margin 1.47rem 0 1.47rem 0
  font-size 1rem
  line-height 1.47rem
  ul
    list-style circle outside
    margin 0 0 0 2.375rem
  ol
    list-style decimal outside
    margin 0 0 0 2.375rem
    
ol
  margin 1.47rem 0 1.47rem 2.84rem
  font-size 1rem
  line-height 1.47rem
  list-style decimal outside
  ol
    list-style upper-roman outside
    margin 0 0 0 2.375rem
  ul
    list-style disc outside
    margin 0 0 0 2.375rem